<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347616233725-1alg4cu2ldhr4dfq2ue37o6keb9vf7n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347616233725-1alg4cu2ldhr4dfq2ue37o6keb9vf7n6</string>
	<key>API_KEY</key>
	<string>AIzaSyDU_QOV-oZBXAkqBAEVWaWgYui60uXY6GU</string>
	<key>GCM_SENDER_ID</key>
	<string>347616233725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tagramm</string>
	<key>PROJECT_ID</key>
	<string>tagramm-52a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>tagramm-52a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347616233725:ios:3bfca52d6c9ad1ffcf9694</string>
</dict>
</plist>